# ignore rake spec module checkouts
**/spec/fixtures/modules/
**/spec/fixtures/manifests/
/Gemfile.lock
# deployed by vagrant_platform.sh
/leap_platform
# ignore files created by functional test
/files/functional-tests/ghostdriver.log
*.pyc
