# ignore rake spec module checkouts
**/spec/fixtures/modules/
**/spec/fixtures/manifests/
# deployed by vagrant_platform.sh
/leap_platform
# ignore files created by functional test
/files/functional-tests/ghostdriver.log
*.pyc
# ignore bundles
.bundle/
vendor/
# ignore rbenv files
.ruby-version
.rbenv-gemsets
